<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Store</title>

</head>
<body>

    <div style="width: 50%; margin: auto;">
        <h1>Welcome to the Book Store!</h1>
        <h2>Please click on the following links to navigate the store.</h2>
        <ul>
            <li><a href="/catalog">View Book Catalog</a></li>
            <li><a href="/orders">View Orders</a></li>
            <li><a href="/pending_customers">View Pending Payments</a></li>
            <li><a href="/inventory">View Inventory</a></li>
        </ul>
    </div>

</body>
</html>
